<section class="footer-links bgcolor-gray padding-tb navbar-fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="footer-friend-links">
                    <h2 class="fcolor-666">友情链接：</h2>
                    <p class="fcolor-666">
                        <a href="http://www.hdpfans.com/" target="_blank">高清范</a>
                        &nbsp;<a href="http://www.chaojitv.com/" target="_blank">超级TV</a>
                        &nbsp;<a href="http://www.xd.com/" target="_blank">心动游戏</a>
                        &nbsp;<a href="http://app.shafa.com/apk/tengxunshipin.html" target="_blank">腾讯视频TV版</a>
                        &nbsp;<a href="http://www.itools.cn/" target="_blank">iTools</a>
                        &nbsp;<a href="http://www.xiaomi.cn/index.html" target="_blank">小米社区</a>
                        &nbsp;<a href="http://bbs.le.com/" target="_blank">乐迷社区</a>
                        &nbsp;<a href="http://g.beva.com/" target="_blank">贝瓦儿歌</a>
                        &nbsp;<a href="http://app.shafa.com/" target="_blank">智能电视应用市场</a>
                        &nbsp;<a href="http://www.duote.com/" target="_blank">多特软件下载</a>
                        &nbsp;<a href="http://www.chinaz.com/" target="_blank">站长之家</a>
                        &nbsp;<a href="http://tv.zol.com.cn/" target="_blank">液晶电视</a>
                        &nbsp;<a href="http://www.qianzhan.com/people/" target="_blank">风云人物</a>
                        &nbsp;<a href="http://www.wasu.cn/" target="_blank">华数TV</a>
                        &nbsp;<a href="http://www.61ertong.com/" target="_blank">六一儿童网</a>
                        &nbsp;<a href="http://v.qq.com" target="_blank">腾讯视频</a>
                        &nbsp;<a href="http://www.xde.com/" target="_blank">心动偶像补完计划</a>
                        &nbsp;<a href="http://weili.ooopic.com/" target="_blank">正版设计稿</a>
                        &nbsp;<a href="http://www.tvhuan.com/" target="_blank">欢视网</a>
                        &nbsp;<a href="http://www.tvapk.net/" target="_blank">智能电视网</a>
                        &nbsp;<a href="http://www.xiaolu123.com/" target="_blank">小鹿视频</a>
                        &nbsp;<a href="http://www.zhanqi.tv/" target="_blank">战旗TV</a>
                        &nbsp;<a href="https://www.yangcong.com/" target="_blank">手机令牌</a>
                        &nbsp;<a href="http://www.yzmg.com" target="_blank">亿智蘑菇</a>
                        &nbsp;<a href="http://www.dky.cc" target="_blank">智能电视</a>
                        &nbsp;<a href="http://www.hdtimes.cn/" target="_blank">高清时代网</a>
                        &nbsp;<a href="http://www.cnzz.cn/" target="_blank">站长</a>
                        &nbsp;<a href="http://www.tvhome.com" target="_blank">电视之家</a>
                        &nbsp;<a href="http://www.18wan.cn/" target="_blank">安卓市场</a>
                        &nbsp;<a href="http://v.qq.com/" target="_blank">腾讯视频</a>
                        &nbsp;<a href="http://www.win7china.com" target="_blank">Win7之家</a>
                        &nbsp;<a href="http://win10.ithome.com " target="_blank">Win10之家</a>
                        &nbsp;<a href="http://www.xiaoji001.com/" target="_blank">小鸡模拟器</a>
                        &nbsp;<a href=" http://www.3987.com/xiazai/  " target="_blank">统一下载站</a>
                        &nbsp; <a href="http://erge.qqbaobao.com/" target="_blank">儿歌网</a>
                        &nbsp;<a href="http://www.muzhiwan.com/" target="_blank">安卓游戏</a>
                        &nbsp;<a href="http://bbs.uc.cn" target="_blank"> UC社区</a>
                        &nbsp;<a href="http://app.shafa.com/apk/dianshiyingyongdaquan.html" target="_blank">电视应用大全</a>
                        &nbsp;<a href="http://www.55haitao.com/" target="_blank">海淘返利</a>
                        &nbsp;<a href="http://www.9553.com/android/" target="_blank">安卓游戏</a>
                        &nbsp;<a href="http://www.danji6.com/" target="_blank">游乐网</a>
                        &nbsp;<a href="http://www.9553.com/ " target="_blank">9553下载</a>
                        &nbsp;<a href="www.cr173.com " target="_blank">西西软件园</a>
                        &nbsp;<a href="http://fans.hisense.com/default.php" target="_blank">海信社区</a>
                        &nbsp;<a href="http://dl.3dmgame.com/" target="_blank">单机游戏下载</a>
                        &nbsp;<a href="http://www.leawo.cn/" target="_blank">狸窝宝典</a>
                        &nbsp;<a href="http://www.joyme.com/" target="_blank">着迷网</a>
                        &nbsp;<a href="http://www.52z.com/" target="_blank">飞翔下载</a>
                        &nbsp;<a href="http://www.97sky.cn/" target="_blank">97sky下载</a>
                        &nbsp;<a href="http://www.taptap.com/" target="_blank">taptap</a>
                        &nbsp;<a href="http://www.youzu.com/" target="_blank">游族网络</a>
                        &nbsp;<a href="http://www.zhuayoukong.com/" target="_blank">爪游控</a>
                        &nbsp;<a href="http://www.zuiaishiting.com/" target="_blank">最爱视听</a>
                        <a href="http://www.shafa.com/friend_links" target="_blank">更多...</a>
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="footer-about-links">
                    <p><a rel="nofollow" logo_size="124x47" logo_type="realname" href="#" target="_blank"><script src="{{default.logo}}"></script><b id="aqLogoPLGYL" style="display: none;"></b><img src="{{default.logo}}" alt="上海旅烨" width="50%" height="auto" style="border: none;"></a></p>
                    <p class="fcolor-666">
                        <a target="_blank" href="http://blog.shafa.com/aboutus/">关于我们</a> <span class="mute">·</span>
                        <a target="_blank" href="http://blog.shafa.com/joinus/">加入我们</a> <span class="mute">·</span>
                        <a target="_blank" href="http://blog.shafa.com/partner/">商务合作</a>
                        <span class="mute">·</span>
                        <a target="_blank" href="http://m.shafa.com">手机版</a>
                    </p>
                    <p class="fcolor-666">
                        <a href="#" rel="">{{default.address}}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>