<footer class="site-footer fcolor-white bgcolor-black navbar-fixed-bottom">
    <div class="container">
        <div class="row widgets">
            <div class="col-xs-6 col-md-3 col-sm-6"><h4>网站信息</h4>
                <ul class="list-unstyled fcolor-white">
                    <li><a href="/who-we-are">我们是谁</a></li>
                    <li><a href="/success-stories">完成案例</a></li>
                    <li><a href="/how-it-works">如何使用</a></li>
                    <li><a href="/join-us">加入我们</a></li>
                    <li><a href="https://blog.mvp01.com/" target="_blank">官方博客</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3 col-sm-6"><h4>服务信息</h4>
                <ul class="list-unstyl ed fcolor-white">
                    <li><a href="/faq">常见问题</a></li>
                    <li><a href="/terms-of-use">使用条款</a></li>
                    <li><a href="/privacy-policy">隐私协议</a></li>
                    <li><a href="/billing-description">开票说明</a></li>
                    <li><a href="/samples/partner" target="_blank">合作伙伴</a></li>
                    <li><a href="/samples/website" target="_blank">优站精选</a></li>
                </ul>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-6 col-md-3 col-sm-6"><h4>联系合作</h4>
                <ul class="list-unstyled ">
                    <li class="shy"><a href="mailto:db@mvp01.com">邮箱：bd@mvp01.com</a></li>
                    <li><a href="tel:010-84786625">电话：010-84786625</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3 col-sm-6"><h4>公司地址</h4>
                <address>
                    <ul class="list-unstyled ">
                        {{default.address}}
                    </ul>
                </address>
            </div>
        </div>
        <div class="row copy">
            <div class="col-xs-6 col-sm-4"><img src="/static/img/logomark.png" style="width: 28%" title="上海旅烨"></div>
            <div class="col-sm-4 copyright text-center"><h5>{{default.copyright}}</h5></div>
            <div class="col-sm-4 social text-right">
                <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1257350782'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1257350782%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script><span id="cnzz_stat_icon_1257350782"></span><script src=" https://s11.cnzz.com/z_stat.php?id=1257350782&amp;show=pic1" type="text/javascript"></script><script src="https://c.cnzz.com/core.php?web_id=1257350782&amp;show=pic1&amp;t=z" charset="utf-8" type="text/javascript"></script>
            </div>
        </div>
    </div>
</footer>