<!--
海互动导航
customer.json中定义

"navbar": {"templateUrl":"templates/navbar/haihudong.html"}
  自定义样式:
  "navbarColor":"white"//导航背景颜色 默认黑色
    "fontcolor":"black"   //字体暗色 默认白色
    navbarImage:"url()"  //导航的背景图片 默认没有

-->

<header>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation" style="background-color: {{customer.navbar.navbarColor ||'black' }}   ">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">
                    <i class="iconfont text-hide" style="background-image:url({{default.logo}})">长度始终</i><div class="logozi"></div>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse top-menu">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="page-scroll active">
                        <a href ui-sref="index" style="color:{{customer.navbar.fontColor || 'white' }}">主页</a>
                    </li>

                    <li class="page-scroll">
                        <a href ui-sref="production" style="color:{{customer.navbar.fontColor || 'white' }}">产品</a>
                    </li>
                    <li class="page-scroll">
                        <a href ui-sref="about"  style="color:{{customer.navbar.fontColor||'white'}}">关于</a>
                    </li>
                    <li class="page-scroll">
                        <a href ui-sref="contact" style="color:{{customer.navbar.fontColor || 'white' }}">联系</a>
                    </li>
                    <li class="page-scroll"> <a href="" target="_blank" style="color:{{customer.navbar.fontColor || 'white' }}">旅烨</a> </li>
                    <li class="page-scroll" style="color:{{customer.navbar.fontColor || 'white' }}">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</header>
