<!--
simple-navbar   http://v3.bootcss.com/examples/starter-template/

component
组件样式
myData.componentStyle: small,big

-->
<nav class="navbar navbar-inverse navbar-fixed-top {{myData}}" component="simple-navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only"><img src="{{default.logo}}"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="" href="#"><img src="{{default.logo}}"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a  ui-sref="index">主页</a></li>
                <li><a ui-sref="about">关于</a></li>
                <li><a ui-sref="contact">联系我们</a></li>
            </ul>

        </div><!--/.nav-collapse -->
    </div>
</nav>