<!--
simple-navbar   http://v3.bootcss.com/examples/starter-template/

component
组件样式
myData.componentStyle: small,big

<!--
ui-sref= ['index','about','production','team','contact']

-->

-->

<nav class="navbar navbar-inverse navbar-fixed-top {{customer.componentStyle}}"  component="simple-navbar">
    <div class="container"  style="background-color: {{customer.navbar.navbarColor || 'black' }}">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src=""></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

                    <li ng-repeat="item in  (customer.navbar.menuList || [{link:'index',name:'主页'},
                    {link:'contact',name:'联系'}] )  "><a href ui-sref="{{item.link}}">{{item.name}}</a></li>



                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>