<!--
simple-navbar   http://v3.bootcss.com/examples/starter-template/
component
组件样式
myData.componentStyle: small,big
<!--
ui-sref= ['index','about','production','team','contact']
-->



<nav class="navbar navbar-fixed-top  padding-tb {{customer.componentStyle}} {{customer.navbarColor}} "  component="simple-navbar">
    <div class="container">
        <div class="navbar-header">
            <a class="" href="#"><img src="{{default.logo}}"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse border-bottom">
            <ul class="nav navbar-nav {{customer.fontColor}} fcolor-666 padding-tb">

                    <li ng-repeat="item in  (customer.navbar.menuList || [{link:'index',name:'主页'},
                    {link:'contact',name:'联系'}] )  "><a href ui-sref="{{item.link}}">{{item.name}}</a></li>
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>

    </div>
</nav>